 .goodList{
        height: 5.173333rem;
        background:#fff;
        margin-bottom: 0.173333rem;
        .mhP{
            display:flex;
            height: 1.133333rem;
            padding-left: 0.306667rem;
            padding-right: 0.306667rem;
            justify-content:space-between;
            align-items:center;
            span{font-size: 0.4rem;}
            span:last-child{color:#EAA39F;}
        }
        .orderInfo{
            display:flex;
            padding-top: 0.16rem;
            height: 1.84rem;
            padding-left: 0.306667rem;
            padding-right: 0.306667rem;
            background: #F8F8F8;
            justify-content:space-between;
            p{font-size: 0.373333rem;color:#2F2F2F;}
            img{
                height: 1.48rem;
                width: 1.48rem;
                margin-right: 0.4rem;
            }
        }
        .mhP2{
             justify-content:flex-end;
        }
        .timePay{
            display:flex;
            height: 1.066667rem;
            align-items:center;
            border-top:0.013333rem solid #E4E4E4;
            font-size: 0.373333rem;
            padding-left: 0.306667rem;
            padding-right: 0.306667rem;
            justify-content:space-between;
            span:last-child{
                color:#EAA39F;
                display: flex;
                justify-content:center;
                align-items:center;
                width: 1.866667rem;
                height: 0.72rem;
                border:0.013333rem solid #EAA39F;
                border-radius:0.066667rem;
            }
        }
    }