#home{
    height:100%;
    display:flex;
    flex-direction:column;
    #w_main{
        flex:1;
        overflow-x:hidden;
       .carousel{
            width:10.0rem;
            height:4.0rem;
            overflow:hidden;
            .carouselSon{
                height:4.0rem;
            }
            img{
                width:10.0rem;
                height:4.0rem;
            }
       } 
       .activty{
        width:100%;
        height:3.467rem;
        img{

            width:100%;
            height:100%;
        }
       }
       .categroy{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between;
            padding:0.267rem;
            background-color: #FFF;
            li{
                width:1.3rem;
                height:1.3rem;
                font-size:0.4rem;
                font-weight:bold;
                color:#ffffff;
                border-radius:50%;
                background-color: #EC2754;
                margin:0.133rem 0.347rem;
                line-height:1.3rem;
                text-align:center;
            }
       }
        h3{
            width:100%;
            height:0.86rem;
            margin-top:0.133rem;
            background-color: #C1272D;
            font-size:0.427rem;
            color:#ffffff;
            border-top-right-radius:0.267rem;
            border-top-left-radius: 0.267rem;
            font-weight:bold;
            line-height:0.86rem;
            padding:0rem 0.267rem;
            display:flex;
            justify-content:space-between;
            span{
                width:1.333rem;
                font-size:0.347rem;
                font-weight:normal;
            }

        }
       .newList{
            height:5.833rem;
            border-radius:0.267rem;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            align-content:space-around;
            div{
                width:2.133rem;
                img{
                    width:1.867rem;
                    height:1.467rem;
                    border-radius:0.133rem;
                }
                p{
                    font-size:0.317rem;
                    height:0.48rem;
                    line-height:0.48rem;
                    overflow:hidden;
                    &:last-child{
                        color:#C1272D;
                        span{
                            font-size:0.4rem;
                        }
                    }
                }
            }
       }
       .salelist{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between;
            align-content:space-around;
            li{
                width:2.407rem;
                border-right:0.013rem solid #EEEEEE;
                padding:0rem 0.133rem;
                margin:0.267rem 0rem;
                display:flex;
                flex-direction:column;
                img{
                    width:1.867rem;
                    height:1.467rem;
                    align-self:center;
                    border-radius:0.133rem;
                }
                p{
                    height:0.553rem;
                    font-size:0.32rem;
                    color:#424242;
                    line-height:0.553rem;
                }
                span{
                    height:0.4rem;
                    line-height:0.4rem;
                    font-size:0.373rem;
                    margin:0.067rem 0.133rem;
                    &.oldPrice{
                        color:#9A9A9A;
                        font-size:0.32rem;
                        text-decoration:line-through;
                    }
                    &.salePrice{
                        color:#D5637D;
                    }
                }
            }
       }
       .recomend{
            display:flex;
            flex-wrap:wrap;
            padding:0.133rem;
            justify-content:space-between;
            .sale{
                width:2.0rem;
                height:4.613rem;
                padding-top:0.133rem;
                .el-carousel__indicators{
                    display:none;
                }
               img{
                    width:2.0rem;
                    height:4.613rem;
               }
            }
            .moreGoods{
                width:3.2rem;
                padding:0.133rem;
                img{
                    width:2.933rem;
                    height:2.933rem;
                }   
                p{
                    width:2.933rem;
                    font-size:0.32rem;
                    height:0.853rem;
                    line-height:0.427rem;
                    overflow:hidden;
                    &:last-child{
                        height:0.427rem;
                        font-size:0.373rem;
                        line-height:0.427rem;
                        span{
                            color:#C1272D;
                            font-size:0.4rem;
                        }
                        
                    }
                }
            }
       }
    }
}