@import './userHeader.scss';

#login{
    height:100%;
    background-color: #FFF;
    #w_main{
        h2{
            height:3.067rem;
            display:flex;
            justify-content: center;
            align-items: center;
            img{
                width:2.667rem;
                height:2.667rem;
            }
        }
        .form{
            padding:0rem 0.4rem;
            p{
                padding-top:1.04rem;
                padding-bottom:0.013rem;
                padding-right:0.267rem;
                border-bottom:1px solid #FD3200;
                input{
                    width:100%;
                    height:0.773rem;
                    line-height:0.773rem;
                    font-size:0.427rem;
                    padding:0.133rem;
                }
                &:first-child{
                    display:flex;
                    height:1.827rem;
                    padding-top:0.453rem;
                    align-items:flex-end;
                    i{
                        height:0.773rem;
                        line-height:0.773rem;
                        font-size:0.4rem;
                    }
                }
                &:nth-child(2){
                    display:flex;
                    align-items:center;
                    i{
                        font-size:0.4rem;
                        color:#979797;
                        margin:0rem 0.133rem;
                    }
                }
                &:last-child{
                    border:0 none;
                    text-align:right;
                    padding-top:0rem;
                    a{
                        font-size:0.373rem;
                        color:#696969;
                    }
                }
            }
        }
    }
    #w_footer{
        display:flex;
        justify-content:center;
        .login{
            width:8.64rem;
            height:1.2rem;
            border-radius:0.8rem;
            font-size:0.4rem;
            margin-top:0.8rem;
            background-color: #C1272D;
            color:#ffffff;
        }
        .dislogin{
            background-color: #FF6666;
        }
    }
    .error{
        width:90%;
        height:1.333rem;
        border-radius:0.133rem;
        position:absolute;
        top:30%;
        left:50%;
        transform:translate(-50%,-50%);
        .el-alert__content{
            display:flex;
            .el-alert__title{
                font-size:0.4rem !important;
            }
            i{
                font-size:0.267rem !important;
            }
        }
    }
}