.payment{
    height:100%;
    display:flex;
    flex-direction: column;
    header{
        height:0.933333rem;
        background-color: #C1272D;
        ul{
            display:flex;
            text-align:center;
            justify-content:space-around;
            li{
                width:50%;
                font-size:0.4rem;
                color:#fff;
                line-height:0.933333rem;
            }          
        }
    }
    main{
        flex:1;
        overflow-y:auto;
        font-size:0.4rem;
        padding:0.133333rem 0.266667rem;
        .payment_1{
            padding:0.133333rem;
        }
        .address{
            border-bottom:2px solid#ccc;
            padding-bottom:0.133333rem;
            input{
                font-size:0.4rem;
            }
        }
        .Contpay{
            padding-bottom:0.266667rem;
            overflow:hidden;
            .Img{
                float:left;
                margin-right:0.133333rem;
            }
            .paymentCent{
                padding-top:0.266667rem;
                width:60%;
                float:right;
            }
            p{
                font-size:0.4rem;
               
            }
            .price{
                span{
                   &:nth-child(1){
                        color:red;
                        font-size:0.4rem;
                   }
                }
            }

        }
        
        .payCent{
            overflow:hidden;
            .payCentone{
                float:left;
            }
            .payCenttwo{
                float:right;     
            }
            li{
                line-height:1.066667rem;
                overflow:hidden;
                border-bottom:1px solid#ccc;
                &:first-child{
                    .payCenttwo{    
                        span{
                            display:inline-block;
                            width:0.533333rem;
                            line-height:0.533333rem;
                            background:#ccc;
                            text-align:center;
                            &:nth-child(2){
                                background:#fff;
                                width:0.8rem;
                            }
                        }
                    }
                }
                input{
                    width:6.666667rem;
                    font-size:0.32rem;
                }
                &:last-child{
                    p{
                        float:right;
                        padding-right:0.4rem;
                        .total{
                            color:red;
                            font-size:0.533333rem;
                        }
                    }

                }

            }
        }

    }
    #paymentFooter{
        height:0.933333rem;
        background-color: #F3F3F3;
        ul{
            background: #C1272D;
            color:#fff;
            font-size:30px;
            height:0.933333rem;
            display:flex;
            justify-content:space-between;
            li{
                flex:1;
                display:flex;
                flex-direction: column;
                justify-content: center;
                text-align:center;
            }
        }
    }
     
   
}