@import './userHeader.scss';
#register{
    background-color:#ffffff;
    height:100%;
    #w_main{
        .form{
            display:flex;
            flex-direction:column;
            border-top:1px solid #A8A8A8;
            border-bottom:1px solid #A8A8A8;
            p{
                height:1.2rem;
                line-height:1.2rem;
                padding-left:0.4rem;
                display:flex;
                &:first-child{
                    border-bottom:1px solid #A8A8A8;
                }
                label{
                    width:1.52rem;
                    font-size:0.375rem;
                }
                input{
                    flex:1;
                    font-size:0.438rem;
                }
                span{
                    width:1.333rem;
                    align-self:center;
                    i{
                        font-size:0.469rem;
                        height:100%;
                        line-height:100%;
                        &.el-icon-error{
                            color:#C1272D;
                        }
                        &.el-icon-success{
                            color:#58bc58;
                        }
                    }
                }
            }
            span{
                padding-left:0.4rem;
                height:0.562rem;
                font-size:0.281rem;
                line-height:0.562rem;
            }
        }
        >p{
            height:1.562rem;
            font-size:0.312rem;
            color:#ED5512;
            display:flex;
            flex-direction:column;
            padding-left:0.4rem;
            span{
                height:0.781rem;
                line-height:0.781rem;
            }
        }
        .disUser{
            height:0.8rem;
            line-height:0.8rem;
            font-size:0.453rem;
            color:#ff0000;
            margin:0.133rem;
        }
    }
    #w_footer{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        p{
            font-size:0.32rem;
            color:#9A9A9A;
            padding:0.267rem;
        }
        b{
            font-size:0.347rem;
            text-decoration:underline;
        }
        .regist{
            width:8.64rem;
            height:1.2rem;
            border-radius:0.8rem;
            font-size:0.4rem;
            margin-top:0.8rem;
            background-color: #C1272D;
            color:#ffffff;
        }
        .disregist{
            background-color: #FF6666;
        }
    }
}