#searchGoods{
    #searchlist{
        flex:1;
        overflow-x:hidden;
        padding-top:1.067rem;
        .sortTip{
            height:1.067rem;
            display:flex;
            background-color: #FFF;
            padding:0rem 0.267rem;
            justify-content:space-between;
            position:fixed;
            top:2.0rem;
            left:0;
            right:0;
            span{
                flex:1;
                font-size:0.427rem;
                text-align:center;
                color:#666;
                line-height:1.067rem;
                >i{
                    margin-left:0.067rem;
                }
                &.active{
                    color:#F43700;
                }
            }
        }
        >div{
            .goodsList{
                height:3.867rem;
                border-top:0.013rem solid #707070;
                display:flex;
                img{
                    width:3.733rem;
                }
                >div{
                    flex:1;
                    display:flex;
                    flex-direction:column;
                    justify-content:space-between;
                    padding:0.133rem 0.32rem;
                    p{
                        &:first-child{ 
                            height:1.093rem;
                            overflow:hidden;
                            font-size:0.373rem;
                            line-height:0.56rem;
                            color:#000814;
                        }
                        &:nth-child(2){
                            height:0.533rem;
                            display:flex;
                            margin-top:0.4rem;
                            span{
                                padding:0rem 0.133rem;
                                margin-right:0.267rem;
                                height:0.533rem;
                                font-size:0.32rem;
                                line-height:0.533rem;
                                border:1px solid #ccc;
                                border-radius:0.2rem;
                                &:first-child{
                                    color:#B12C3D;
                                    border-color:#B12C3D;
                                }
                                &:last-child{
                                    color:#FFBA5F;
                                    border-color:#FFBA5F;
                                }
                            }
                        }
                        &:nth-child(3){
                            height:0.667rem;
                            color:#FA5D16; 
                            display:flex;
                            align-items:center;
                            span{
                                font-size:0.32rem;
                                margin-right:0.32rem;
                                &:first-child{
                                    font-size:0.533rem;
                                }
                                &:last-child{
                                    margin-top:0.133rem;
                                    color:#ccc;
                                }
                            }
                        }
                    }
                }
            }
        }
        .noneGoods{
            height:100%;
            display:flex;
            flex-direction:column;
            padding-top:1.333rem;
            color:#BBBBBB;
            i{
                font-size:1.333rem;
                text-align:center;
            }
            p{
                margin-top:0.667rem;
                align-items:center;
                font-size:0.4rem;
                text-align:center;
            }
        }
    }
}